@charset "UTF-8";

@font-face {
        font-family: antonio;
        src: url(fontes/Antonio-Bold.ttf) format('truetype');
}

@font-face {
        font-family: idroid;
        src: url(fontes/idroid.otf) format('opentype');
}

body {
        margin: 0px;
        background-color: #84e1ad;
}
header {
        background-image: linear-gradient(to top, #1a5c38, #39cf7c);
        color: white;
        text-align: center;
        height: 12em;
}

header > h1 {
        margin: 0px;
        padding: 25px 20px 15px 20px;
        font-family: antonio;
        font-size: 2em;
        font-weight: none;
        
}

header > nav {
        text-align: left;
        margin: 25px 30px
}

header > nav > a {
        font-size: 1em;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 0px 20px 0px 0px;

}

a:hover {
        background-color: #1c7041;
}

main {
        text-align: justify;
        background-color: white;
        margin-left: 12em;
        margin-right: 12em;
        padding: 1em;
        border-radius: 0px 0px 10px 10px;
}

main > section > article > h2, h3 {
        font-family: idroid;
}

main > section > article > h2 {
        margin: 0px;
        font-size: 1.8em;
        color: #1a5d38;
}

main > section > article > h3 {
        background-image: linear-gradient(to right, #c8ecd8 , white);
        text-indent: 0.6em;
        color: #21623f;
}

main > section > article > p {
        font-size: 1.1em;
        text-indent: 2em;
        text-align: justify;
}

aside {
        text-align: center;
}

footer {
        background-color: #1a5c38;
        margin-top: 0.8em;
        height: 2em;
}

footer > p {
        font-size: 0.8em;
        text-align: center;
        color: whitesmoke;
}

#separado {
        background-color: #c5ebd6;
        margin: 20px;
        border-radius: 10px;
        
}

#separado > h2 {
        background-color: #2fa866;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        color: whitesmoke;
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
}

#separado > h2 {
        padding: 10px;
}

#direita {
        position: absolute;
        top: 137em;
        right: 30em;
}

li {
        list-style-type: none;
}

li:before {
        content: '✔  ';
}
